{% extends 'base.html' %}
{% load static %}

{# HEADER #}
{% block header %}



    <nav class="text-center pt-8 text-g1">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-around mx-auto p-4">
            <a href="{% url 'home' %}" class="flex items-center rtl:space-x-reverse">
                {#        <img src="https://flowbite.com/docs/images/logo.svg" class="h-8" alt="Flowbite Logo" />#}
                <span class="m-auto self-center text-2xl font-semibold whitespace-nowrap dark:text-white">WELCOME TO THE PARTY</span>
            </a>
            <button data-collapse-toggle="navbar-default" type="button"
                    class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm rounded-lg md:hidden"
                    aria-controls="navbar-default" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                     viewBox="0 0 17 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M1 1h15M1 7h15M1 13h15"></path>
                </svg>
            </button>
            <div class="hidden w-full" id="navbar-default">
                <ul class="font-medium flex flex-col md:p-0 mt-4 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0">
                    <li>
                        <a href="{% url 'home' %}">Book Me</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


{% endblock header %}

{# MAIN #}
{% block content %}
    <div class="mt-8 flex flex-col items-center">
        {#    Sign-up instructions    #}
        {#        <section class="flex flex-col border-2 border-blue-400">#}
        {#            <h2>HOW TO SIGN-UP</h2>#}
        {#            <span> 1. FIND your song choice on YouTube.</span>#}
        {#            <span> 2. COPY the link from the YouTube page.</span>#}
        {#            <span> 3. CLICK on "Add Name" and PASTE the song’s link.</span>#}
        {#        </section>#}

        <img class="w-10/12 p-4 pl-12" src="{% static 'images/partyatyourdoorimage.png' %}" alt="Party At Your Door">
        <div class="w-full flex flex-col items-center space-y-5">


            {#    Song Queue    #}
            <section
                    class="w-11/12 flex flex-col items-center justify-around border-2 border-green-400 bg-gradient-to-b from-p1 to-p2">

                <p class="text-center p-4 text-2xl text-g1">SONG QUEUE</p>
                <div class="w-full flex flex-col bg-black mx-24 p-2 space-y-2">
                    <div class="flex justify-evenly text-o1 bg-black border-2 border-g1">
                        <span>#</span>
                        <span>Name</span>
                        <span>Song Name</span>
                    </div>

                    {# queue of users place, name, song #}
                    <div class="h-32 overflow-y-auto flex flex-col space-y-2">
                        <div class="flex justify-between bg-g1 text-p1">
                            <div class="w-full flex  justify-evenly">
                                <span>1</span>
                                <p>John Doe</p>
                                <span>Song Name</span>
                            </div>
                            <button>EDIT</button>
                        </div>
                        <div class="flex justify-between bg-p1 text-o1">
                            <div class="w-full flex  justify-evenly">
                                <span>2</span>
                                <p>Jane Doe</p>
                                <span>Song Name</span>
                            </div>
                            <button>EDIT</button>
                        </div>
                        <div class="flex justify-between bg-p1 text-o1">
                            <div class="w-full flex  justify-evenly">
                                <span>3</span>
                                <p>Thomas Doe</p>
                                <span>Song Name</span>
                            </div>
                            <button>EDIT</button>
                        </div>
                        <div class="flex justify-between bg-p1 text-o1">
                            <div class="w-full flex  justify-evenly">
                                <span>4</span>
                                <p>Thomas Doe</p>
                                <span>Song Name</span>
                            </div>
                            <button>EDIT</button>
                        </div>
                        <div class="flex justify-between bg-p1 text-o1">
                            <div class="w-full flex  justify-evenly">
                                <span>5</span>
                                <p>Thomas Doe</p>
                                <span>Song Name</span>
                            </div>
                            <button>EDIT</button>
                        </div>
                        <div class="flex justify-between bg-p1 text-o1">
                            <div class="w-full flex  justify-evenly">
                                <span>6</span>
                                <p>Thomas Doe</p>
                                <span>Song Name</span>
                            </div>
                            <button>EDIT</button>
                        </div>

                    </div>
                </div>

            </section>

            {#  Sign-up button to open sign-up modal #}
            {#            <button class="border-2 border-g1 bg-p1 text-g1 p-4">Sign Me Up!</button>#}


            <!-- Modal toggle -->
            <button data-modal-target="crud-modal" data-modal-toggle="crud-modal"
                    class="border-2 border-g1 bg-p1 text-g1 p-4" type="button">
                Toggle modal
            </button>

            <!-- Main modal -->
            <div id="crud-modal" tabindex="-1" aria-hidden="true"
                 class="text-white hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                <div class="relative p-4 w-full max-w-md max-h-full">
                    <!-- Modal content -->
                    <div class="relative border-2 border-g1 bg-black shadow dark:bg-gray-700">
                        <!-- Modal header -->
                        <div class="flex items-center justify-between md:p-5">
                            <button type="button"
                                    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                                    data-modal-toggle="crud-modal">
                                <svg class="w-3 h-3 text-p1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                     fill="none" viewBox="0 0 14 14">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                          stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"></path>
                                </svg>
                                <span class="sr-only">Close modal</span>
                            </button>
                        </div>
                        <!-- Modal body -->
                        <form class="p-4 md:p-5">
                            <div class="grid gap-4 mb-4 grid-cols-2">
                                <div class="col-span-2">
                                    <label for="name" class="block mb-2 text-sm font-medium text-o1 dark:text-white">Name</label>
                                    <input type="text" name="name" id="name"
                                           class="bg-p1 placeholder-o1 border border-gray-300 text-o1 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                           placeholder="Your name" required="">
                                </div>
                                <div class="col-span-2 sm:col-span-1">
                                    <label for="song_name" class="block mb-2 text-sm font-medium text-o1 dark:text-white">Song
                                        Name</label>
                                    <input type="text" name="song_name" id="song_name"
                                           class="bg-p1 placeholder-o1 border border-gray-300 text-o1 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                           placeholder="Youtube link" required="">
                                </div>
                            </div>
                            <button type="submit"
                                    class="ml-20 text-g1 border-2 border-g1 bg-p1 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                Add me to the list!
                            </button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>


{% endblock content %}