{% extends 'base.html' %}

{% block content %}

    <h2>PARTY AT YOUR DOOR IMAGE</h2>

    <div>

    {#    Sign-up instructions    #}
    <section>
        <h2>HOW TO SIGN-UP</h2>
        <span> 1. FIND your song choice on YouTube.</span>
        <span> 2. COPY the link from the YouTube page.</span>
        <span> 3. CLICK on "Add Name" and PASTE the song’s link.</span>
    </section>

    {#    Song Queue    #}
    <section>
        <h2>SONG QUEUE</h2>

        <div>
            <div>
                <span>#</span>
                <span>Name</span>
                <span>Song</span>
            </div>
        </div>

    </section>

    {#  Sign-up button  #}
    <button>Sign Me Up!</button>
    </div>

{% endblock content %}